:root {
  --ebk-primary: white;
  --ebk-primary-dark: #232323;
  --ebk-primary-darker: #0e1d46;

  --htsd-body-bg-color: var( --ebk-primary-dark );
  --htsd-slide-bg-color: var( --ebk-primary );
  --htsd-header-color: black;
  --htsd-highlight-color: black;
  --htsd-text-color: black;
}

*, ::after, ::before {
  box-sizing: border-box;
  font-family: 'Roboto', Verdana, Geneva, Tahoma, sans-serif !important;
}
kbd {
  border: 1px solid #aaa;
  border-radius: 0.2em;
  box-shadow: 0.1em 0.1em 0.2em rgba(0, 0, 0, 0.1);
  background-color: var(--background-color-neutral-subtle, #f8f9fa);
  background-image: linear-gradient(to bottom, var(--background-color-neutral, #eaecf0), var(--background-color-neutral-subtle, #f8f9fa), var(--background-color-neutral, #eaecf0));
  color: var(--color-base, #202122);
  padding: 0.1em 0.3em;
  font-family: inherit;
  font-size: 0.85em;
}
/* :host *::selection, :host::after, :host::before, */
  *::selection {
  background: var( --ebk-primary-darker );
}

img {
  max-width: 100%;
}

ul {
  text-align: left;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: rgba( 0, 0, 0, .2 );
  border-radius: 16px;
}

::-webkit-scrollbar-thumb:hover {
  background: rgba( 0, 0, 0, .3 );
}
